@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
	color: #ffffff;
	background: #222222;
	font-family: 'Poppins', sans-serif;
	position: relative;
	transition: 0.4s all ease-in-out;
}

body::after {
	content: "";
	display: block;
	width: 0px;
	height: 0px;
	position: absolute;
	background: #111;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate( -50%, -50% );
	transition: 0.4s all ease-in-out;
}

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper ul {
	list-style: none;
	display: flex;
	font-size: 270px;
	font-weight: 700;
	border: 20px solid transparent;
	max-width: 685px;
	cursor: pointer;
	position: relative;
	perspective: 2000px;
	z-index: 99;
}

.wrapper ul * {
	transform-style: preserve-3d;
}

.wrapper ul > li {
	z-index: inherit;
	list-style: none;
	background: #cc232a;
	display: block;
	width: 150px;
	height: 100%;
	margin-right: -30px;
	position: relative;
	perspective: 300px;
	box-shadow: 0px 0px 30px #111;
	overflow: hidden;
	transform: rotateY(-10deg) translateZ(0px) rotate(-6deg);
	transition: all 0.3s ease-in-out;
}

.wrapper ul > li::after {
	content: "2";
	background: #f5ac27;
	position: absolute;
	top: -20px;
	left: 150px;
	display: block;
	width: 150px;
	transition: all 0.3s ease-in-out;
}

.wrapper ul > li:nth-child(4) {
	overflow: hidden;
}

.wrapper ul > li:nth-child(4):before {
	content: "6";
	background: #f5ac27;
	position: absolute;
	top: -200px;
	right: 150px;
	display: block;
	width: 150px;
	height: 100%;
	transition: all 0.3s ease-in-out;
	z-index: 99999;
}

.wrapper ul > li:nth-child(even) {
	background: #a3262a;
	transform: rotateY(-10deg) rotate(7deg);
}

.wrapper ul > li:nth-child(even):after {
	background: #a3262a;
	text-shadow: 0px 0px 30px #ff3333;
}

.wrapper ul > li:nth-child(2):after {
	content: "0";
}

.wrapper ul > li:nth-child(4):after {
	mix-blend-mode: normal;
	content: "5";
}

.wrapper ul:hover {
	transform: scale(1.08);
	transition: transform 0.3s ease-in-out;
}

.wrapper ul:hover > li {
	margin-right: 15px;
	overflow: hidden;
	box-shadow: 0px 0px 30px #9e0000;
	transform: rotateY(0deg) rotate(0deg);
	transition: all 0.2s ease-in-out, transform 0.3s ease-in-out;
	animation: bounce 0.1s linear;
	animation-iteration-count: 2;
}

.wrapper ul:hover > li:after {
	top: 0;
	left: 0;
	transition: all 0.2s ease-in-out, left 0.3s ease-in-out;
}

.wrapper ul:hover > li:nth-child(4) {
	overflow: hidden;
}

.wrapper ul:hover > li:nth-child(4):before {
	top: 0px;
	right: 0px;
	background: #a3262a;
	transition: top 0.6s ease-in-out, right 0.3s all ease-in-out;
	transition-delay: 0.25s;
}

.wrapper ul:hover > li:nth-child(1) {
	animation-delay: 0.1s;
}

.wrapper ul:hover > li:nth-child(1):after {
	transition-delay: 0.03s;
}

.wrapper ul:hover > li:nth-child(2) {
	animation-delay: 0.2s;
}

.wrapper ul:hover > li:nth-child(2):after {
	transition-delay: 0.05s;
}

.wrapper ul:hover > li:nth-child(3) {
	animation-delay: 0.25s;
}

.wrapper ul:hover > li:nth-child(3):after {
	transition-delay: 0.05s;
}

.wrapper ul:hover > li:nth-child(4) {
	animation-delay: 0.3s;
}

.wrapper ul:hover > li:nth-child(3):after {
	transition-delay: 0.08s;
}

body:has(ul:hover) {
	overflow: hidden;
}

body:has(ul:hover):after {
	width: 100%;
	height: 100%;
	min-height: 200vh;
	background: #F5AC27;
	transition: all 0.4s ease-in-out, width 0.5s ease-in-out, background 0.8s ease-in-out;
}

@keyframes bounce {
	0% {
		margin-top: -4px;
	}
	80% {
		margin-top: 2px;
	}
	100% {
		margin-top: 0px;
	}
}